In [3]:
#check even or odd using ternary operator

a = int(input("Enter a number:"))
if a % 2 == 0:
    print("even")  # even number
else:
    print("odd")  # odd number

Enter a number: 3

odd

In [5]:
# swap two numbers using input function

num1 = int(input("Enter first number:")) #first input
num2 = int(input("Enter second number:")) # second input

num1, num2 = num2, num2 #swapping

print("After swapping:")
print("First number:" ,num1)
print("Second number:" ,num2)

Enter first number: 3
Enter second number: 5

After swapping:
First number: 5
Second number: 3

In [11]:
# to convert kilometers to miles

km = float(input("Enter distance in kilometer:"))

 # formula to covert km to miles (Miles = km * 0.621371)
miles = km * 0.621371

print(f"{km} is equal to {miles} miles")

Enter distance in kilometer: 23

23.0 is equal to 14.291533 miles

In [13]:
# the simple interest on rs.200 for 5 years at 5% per year

principal = 200     # principal amount in Rs.
rate = 5       # rate of interest per year
time = 5       # time in years

simple_interest = (principal * rate* time) / 100

print(f"simple interest in Rs. {simple_interest}.")

simple interest in Rs. 50.0.