In [1]:
#Write a Python program to find the number of times 4 appears in the tuple.

#Input:

#tuplex (2, 4, 5, 6, 2, 3, 4, 4, 7)

#Output: 3

# Input tuple
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)

# Counting the occurrences of 4
count_of_fours = tuplex.count(4)

# Printing the output
print("Number of times 4 appears in the tuple:", count_of_fours)

Number of times 4 appears in the tuple: 3

In [3]:
#Write a Python program to convert a list to a tuple.

#Input: listx= [5, 10, 7, 4, 15, 3]

#Output: (5, 10, 7, 4, 15, 3)

# Input list
listx = [5, 10, 7, 4, 15, 3]

# Converting the list to a tuple
tuplex = tuple(listx)

# Printing the output
print("Output:", tuplex)

Output: (5, 10, 7, 4, 15, 3)

In [5]:
#Write a Python program to calculate the sum of the numbers in a given tuple.

#Input: tuples_list=[(1, 2), (3, 4), (5, 6)]

#Output: Sum of values in the tuples: 21

# Input list of tuples
tuples_list = [(1, 2), (3, 4), (5, 6)]

# Calculating the sum of the numbers in the tuples
total_sum = sum(sum(tup) for tup in tuples_list)

# Printing the output
print("Sum of values in the tuples:", total_sum)

Sum of values in the tuples: 21

In [20]:
4. #Write a python program and iterate the given tuples

#Input:
#employee1 = ("John Doe", 101, "Human Resources", 60000) 
#employee2 = ("Alice Smith", 102, "Marketing", 55000)
#employee3 = ("Bob Johnson", 103, "Engineering",Â 75000)

# Input tuples
employee1 = ("John Doe", 101, "Human Resources", 60000) 
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

# List of employee tuples
employees = [employee1, employee2, employee3]

# Iterating through the tuples
for employee in employees:
    name, id, department, salary = employee
    print("Employee Details:")
    print(f"Name: {name}")
    print(f"ID: {id}")
    print(f"Department: {department}")
    print(f"Salary: ${salary}")
    print("-" * 30)  # Separator line for clarity

Employee Details:
Name: John Doe
ID: 101
Department: Human Resources
Salary: $60000
------------------------------
Employee Details:
Name: Alice Smith
ID: 102
Department: Marketing
Salary: $55000
------------------------------
Employee Details:
Name: Bob Johnson
ID: 103
Department: Engineering
Salary: $75000
------------------------------